[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djongo = "*"
djangorestframework = "*"
django-rest-knox = "*"
pylint-django = "*"
dnspython = "*"
pillow = "*"
django-rest-auth = "*"
django-filter = "*"
markdown = "*"
django-cors-headers = "*"
djoser = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
